<html>
  <head>
    <style>
      * {
        margin:0;
        padding:0;
        font-weight:normal;
        font-size:1em;
        line-height:1.3em;
      }
      body {
        width:384px;
        font-size: 15px;
        font-family:'Signika'
      }
      img.logo {
        display:block;
        float:left;
      }
      div.shipmentfor {
        background-image: url('https://cdn.shopify.com/s/files/1/0160/1302/t/2/assets/shipmentfor3.png');
        background-repeat:no-repeat;
        width:100%;
         height:151px;
         margin:0 auto;
         padding:50px 5px 30px 5px;




}

      div.manifesto {
        background-image: url('https://cdn.shopify.com/s/files/1/0160/1302/t/2/assets/manifest.png');
        background-repeat:no-repeat;
        width:100%;
         height:299px;
         margin:0 auto;
         padding:50px 5px 30px 5px;
}


      h1 {
        font-size:1.8em;
        text-align:center;
        margin-bottom:0.1em;
        padding-top:0.8em;


      }

      .order_number {
        text-align:center;
        margin-bottom:1.3em;
        font-size:1.2em;
      }

      .line_items {
        font-size:1.5em;
      }

      .line_items li.first {
        border-top: 1px dashed #000;
      }

      .line_items li {
        border-bottom: 1px dashed #000;
        padding:6px 0;
      }

      .line_items p {
        padding-left:60px;
        background-image: url('http://<%= host %>/checkbox.png');
        background-repeat:no-repeat;
        background-position:15px center;
      }
      
      .line_items .sku {
        font-size:0.8em;
      }

      .order_details_box {
        margin-top:5px;
      }
      .order_details_box img {
        float:left;
      }
      .order_details {
        padding-top:18px;
      }

      .help {
        clear:both;
        border-top: 1px dashed #000;
        text-align:center;
        font-size:1.2em;
        padding:10px 0;
      }
      
      .tax {
        margin-top:1em;
        width:100%;
      }
      
      .tax .title {
        text-align:right;
        padding-right:10px;
      }

      .companyinfo {
	float:right;
	padding:0px 20px 0px 0px;
	font-size:17pt;

	}
	
    </style>
  </head>
  <body>
<div style="display:block; width:100%; height:80px; margin-bottom:35px;">
    <img src="https://cdn.shopify.com/s/files/1/0160/1302/t/2/assets/mono_logo.png" class="logo" />
<div class="companyinfo">THE OPEN COMPANY<BR>theopencompany.net<br>San Francisco, USA</div>
</div>
    <div class="shipmentfor">
    <h1><%= order.shipping_address['name'] %></h1>
</div>
    <h2><%=order.order_number %></h2>

<div class="manifest">
    <ul class="line_items">
      <% order.line_items.each_with_index do |line_item, i| %>
        <li<%= ' class="first"' if i == 0 %>>
          <p>
            <span class="name"><%= line_item['name'] %></span>
            <br />
            <span class="sku"><%= line_item['sku'] %></span>
          </p>
        </li>
      <% end %>
    </ul>
</div>

    <p class="help">Questions? @theopencompany on Twitter</p>
  </body>
</html>

